@use "../custom" as *;

.about {
  .fs-5 {
    span {
      display: block;
      @include media-breakpoint-down(xl) {
        display: inline;
      }
    }
  }

  .carousel {
    height: 30rem;
    display: flex;
    align-items: center;

    .carousel-inner {
      display: flex;
      align-items: center;
    }
  }
}
