@use "../custom" as *;

.about {
  .row {
    padding-top: 3rem;
  }

  .fs-5 {
    span {
      display: block;
      @include media-breakpoint-down(xl) {
        display: inline;
      }
    }
  }
}
