@use "../custom" as *;
@use "../components/mixins" as *;

.intro {
  width: 100%;

  animation: titleShowUp 700ms normal ease-in;

  .container {
    // resize padding-top as navbar resized
    padding-top: 7rem;

    @include media-breakpoint-down(xl) {
      padding-top: 5rem;
    }
  }
}
