@use "../custom" as *;
@use "../components/mixins" as *;

.intro {
  width: 100%;
  min-height: 100vh;

  background-color: $white;
  animation: titleShowUp 1s normal ease-in;

  .container {
    padding-top: 7rem;

    @include media-breakpoint-down(xl) {
      padding-top: 5rem;
    }
  }

  .fs-3 {
    span {
      display: block;
      @include media-breakpoint-down(xl) {
        display: inline;
      }
    }
  }
}
