@use "../custom" as *;

.leagues {
  img {
    width: 50rem;
    height: 25rem;
    object-fit: cover;
  }

  p {
    button {
      border-color: $black !important;
      a {
        color: $black;
        text-decoration: none;
      }
    }
  }
}

.game {
  display: block;
}
