@use "../custom" as *;

.menu {
  background-color: $white;

  .nav-item {
    padding: 0 0.3rem;

    img {
      max-height: 3.7rem;
    }

    @include media-breakpoint-down(xl) {
      img {
        max-height: 3rem;
      }
    }
  }
}
