@use "../custom" as *;

.menu {
  background-color: $white;
}

.container-fluid {
  padding: 0;
}

.nav-item {
  display: flex;
}

.navbar-brand {
  img {
    max-height: 3.5rem;
  }
}

.logo {
  &--rcka {
    opacity: 1;
  }

  &--rcj {
    opacity: 0.5;
  }

  &--rc {
    opacity: 0.5;
  }
}
