@use "../custom" as *;

.menu {
  background-color: $white;

  .nav-item {
    padding: 0 0.3rem;

    img {
      max-height: 3.7rem;
    }

    @include media-breakpoint-down(sm) {
      img {
        max-height: 3rem;
      }
    }
  }

  .logo {
    &-rcka {
      opacity: 1;
    }

    &-rcj {
      opacity: 0.5;
    }

    &-rc {
      opacity: 0.5;
    }
  }
}
