@use "../custom" as *;

@keyframes titleShowUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes subtitleShowUp {
  0% {
    transform: rotate3d(-1, 0, 0, 0.2turn);
  }
  100% {
    transform: rotate3d(0);
  }
}
