@use "../custom" as *;
@use "../components/mixins" as *;

body {
  font-family: "Gothic A1", sans-serif;
}

// apply indentation when first paragraph begins
span .indent {
  padding-left: 0.5rem;
  @include media-breakpoint-up(xxl) {
    padding-left: 0;
  }
}

span {
  @include media-breakpoint-down(xxl) {
    font-size: 80%;
  }
}
