@use "../custom" as *;
@use "../components/mixins" as *;

.display-1 {
  &--title {
    display: block;
    font-family: "Gothic A1", sans-serif;
    font-weight: 700;

    @include absoluteCenter;
  }
}

.display-6 {
  display: flex;
  justify-content: center;

  font-family: "Gothic A1", sans-serif;
  font-weight: 500;

  &--subtitle {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    perspective: 800px;
    color: $white;
    // animation: subtitleShowUp 1s normal linear;
    background: $secondary;
  }
}
